{% assign issues_repo = site.issues_repo %}
{% assign issue_id = page.comments_id %}

<section id="comments">
    <div class="comment-actions">
        <h2>Comments <span id="comments-count"></span></h2>
        <a class="btn" href="https://github.com/{{ issues_repo }}/issues/{{ issue_id }}"><i class="fa-brands fa-github"></i> Post comment <i class="fa-solid fa-up-right-from-square fa-2xs"></i></a>
    </div>
    <div id="comments-wrapper">
        Loading...
    </div>
</section>

<!-- Comments script -->
<script>
    const commentsSection = document.getElementById('comments');
    const commentsWrapper = commentsSection.querySelector('#comments-wrapper');
    const commentsCount = commentsSection.querySelector('#comments-count');

    const commentsObserver = new IntersectionObserver((entries, self) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                fetchComments();
                self.unobserve(entry.target);
            }
        })
    }, {
        rootMargin: '200px 0px 0px 0px'
    });

    commentsObserver.observe(commentsSection);

    const fetchComments = async () => {
        try {
            const comments = await (await fetch(
                'https://blog.matthiaskay.de/scripts/github.php?action=fetch_comments&repo={{ issues_repo }}&issue_id{{ issue_id }}'
            )).json();
            initRenderComments(comments);
        } catch (e) {
            commentsWrapper.innerHTML = `<p>Unable to retrieve the comments for this post.</p>`;
        }
    }

    const loadScript = (src) => {
        const scriptElement = document.createElement('script');
        document.body.appendChild(scriptElement);

        return new Promise((resolve) => {
            scriptElement.onload = resolve;

            // Important to register onload before setting src
            scriptElement.src = src;
        });
    }

    const commentScripts = [
        '/assets/js/marked.min.js',
        '/assets/js/purify.min.js',
        '/assets/js/dayjs.min.js',
        '/assets/js/relativeTime.js',
    ];

    // Reminder: this gets called when the viewport intersects with the comments section
    const initRenderComments = async (comments) => {
        if (!comments.length) {
            commentsWrapper.innerHTML = `<p>No comments yet 👀 Be the first to post!</p>`;
            return;
        }

        // Load all comment script dependencies async
        await Promise.all(commentScripts.map((script) => loadScript(script)));
        renderComments(comments);
    }

    const renderComments = (comments) => {
        // load the relativeTime plugin for dayjs so we can express dates relative to now
        dayjs.extend(dayjs_plugin_relativeTime);

        commentsCount.innerText = `(${comments.length})`;

        const commentsList = document.createElement('ol');
        commentsList.className = 'comments-list';
        commentsList.setAttribute('aria-label', 'Comments on this blog post');

        commentsList.innerHTML = comments
            .sort((comment1, comment2) => {
                return comment1.created_at < comment2.created_at ? 1 : -1;
            })
            .map(comment => {
                const datePosted = dayjs(comment.created_at).fromNow();
                const user = comment.user;
                const body = DOMPurify.sanitize(marked.parse(comment.body));
                const edited = comment.created_at !== comment.updated_at;

                return `<div class="comment">
                <div class="commenter">
                    <img src="https://blog.matthiaskay.de/scripts/github.php?action=get_avatar&username=${user.login}" alt="" aria-hidden="true" class="meta avatar" />

                    <a href="https://github.com/${user.login}" class="meta username">${user.login}</a>
                    commented <time datetime="${comment.created_at}" title="${comment.created_at}">${datePosted}</time>
                    ${edited ? `<span class="meta comment-edited">(edited)</span>` : ''}
                </div>
                <div class="comment-body">${body}</div>
            </div>`;
            })
            .join('');

        commentsWrapper.innerHTML = '';
        commentsWrapper.appendChild(commentsList);
    }
</script>
