---
name: "Build the blog"

on: # yamllint disable-line rule:truthy
  pull_request:

jobs:
  build-the-blog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.1.2

      - uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Install Fontawesome
        run: |
          wget https://use.fontawesome.com/releases/v6.2.0/fontawesome-free-6.2.0-web.zip -O fontawesome.zip

          mkdir -p assets/css
          unzip -j fontawesome.zip fontawesome-free-6.2.0-web/css/all.min.css -d assets/css

          mkdir -p assets/webfonts
          unzip -j fontawesome.zip "fontawesome-free-6.2.0-web/webfonts/*" -d assets/webfonts

      - name: Build blog
        run: |
          bundle config path "$(pwd)/vendor/bundle"

          cd src
          bundle install

          bundle exec jekyll build
