---
name: "Build the blog"

on: # yamllint disable-line rule:truthy
  pull_request:

jobs:
  web-deploy:
    name: Deploy site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.1.2

      - uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with:
          server: 46.38.249.61
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          dry-run: true
          local-dir: target/
          server-dir: blog.matthiaskay.de/
