---
name: "Lint/Validate files"

on: # yamllint disable-line rule:truthy
  pull_request:

jobs:
  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate YAML file
        run: find . \( -name "*.yml" -o -name "*.yaml" \) -print0 | xargs -0 yamllint -c .yamllint.yml --strict

  lint-markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate Markdown file
        run: |
          npm install -g markdownlint-cli
          markdownlint -c .markdownlint.yml "**/*.md"

  lint-workflow:
    runs-on: ubuntu-latest
    container:
      image: rhysd/actionlint:1.6.22
      options: --cpus 1 --user root
    steps:
      - uses: actions/checkout@v3
      - name: Validate Github workflows
        run: |
          mkdir .git
          actionlint -color

  lint-docker:
    runs-on: ubuntu-latest
    container:
      image: hadolint/hadolint:v2.9.3-alpine
      options: --cpus 1 --user root
    steps:
      - uses: actions/checkout@v3
      - name: Validate Dockerfiles
        run: |
          hadolint docker/Dockerfile*

  lint-php:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: php-actions/composer@v6 # or alternative dependency management
      - uses: php-actions/phpstan@v3
        with:
          path: src/
          level: max
