---
name: "Lint/Validate files"

on: # yamllint disable-line rule:truthy
  pull_request:

jobs:
  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate YAML file
        run: find . \( -name "*.yml" -o -name "*.yaml" \) | xargs yamllint -c .yamllint.yml --strict

  lint-markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate Markdown file
        run: |
          npm install -g markdownlint-cli
          markdownlint "**/*.md"

  lint-workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: Validate Github Workflows
        run: |
          ls -la
          go install
          actionlint
