---
name: "Lint/Validate files"

on: # yamllint disable-line rule:truthy
  pull_request:

jobs:
  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate YAML file
        run: find . \( -name "*.yml" -o -name "*.yaml" \) -print0 | xargs -0 yamllint -c .yamllint.yml --strict

  lint-markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate Markdown file
        run: |
          npm install -g markdownlint-cli
          markdownlint "**/*.md"

  lint-workflow:
    runs-on: ubuntu-latest
    container:
      image: rhysd/actionlint:1.6.22
      options: --cpus 1 --user root
    steps:
      - uses: actions/checkout@v2
      - name: Validate Github workflows
        run: |
          mkdir .git
          actionlint -color

  lint-docker:
    runs-on: ubuntu-latest
    container:
      image: hadolint/hadolint:2.10.0
      options: --cpus 1 --user root
    steps:
      - uses: actions/checkout@v2
      - name: Validate Dockerfiles
        run: |
          hadolint docker/Dockerfile*